body {
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  background-color: #DEDCD8;
}

ul {
	background: #FFC300;
	text-align: left;
}

li {
	display: inline-block;
	padding: 20px;
	list-style: none;
}

a {
	color: whitesmoke;
	text-decoration: none;
	padding: 20px;
}

.box-Im {
	display: inline-block;
}

.box-Im img {
	width: 270px;
	height: 200px;
	border: 2px solid whitesmoke;
	box-sizing: border-box;
}

#botones {
	text-align: center;
}

.submenu {
	display: inline-block;
	background: #FFC300;
	color: whitesmoke;
	padding: 5px;
	width: 300px;
}


p {
	display: inline-block;
	text-align: justify; 
	padding: 10px;
	width: 400px;
	box-sizing: border-box;
}